<% provide(:title, "Home") %>
<h1>Uber Status</h1>
<h2>The Status tracker for PMs at Enterprises</h2>
<p>This application will help you track status for your projects with minimal intervention from your side.</p>

<p>Find me in app/views/welcome/index.html.erb</p>
